@import "bourbon/bourbon"

$fontbook: "GothamBook", "Helvetica Neue", sans-serif
$fontlight: "GothamLight", "Helvetica Neue", sans-serif
$fontbold: "GothamBold", "Helvetica Neue", sans-serif
$darkgray: #323232
$green: #a7d16b

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: $fontbook
	font-weight: normal
	font-size: 15px
	color: #fff
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green
.container 
	margin-right: auto
	margin-left: auto
	padding-left: 108px
	padding-right: 108px

h1, h2
	color: $darkgray
	font-family: $fontlight
	font-size: 40px
	text-transform: uppercase
	text-align: center
h2, h3
	color: #fff
h3
	font-family: $fontbold
	font-size: 15px
	text-transform: uppercase

.hidden
	display: none
.top-line
	background: $darkgray
	font-family: $fontbook
	padding: 40px 0 24px
.main-nav
	margin-top: 84px
	li
		display: inline-block
		margin-right: 20px
		a
			font-family: $fontlight
			color: #fff
			font-size: 14px
			line-height: 13px
			text-transform: uppercase
			word-spacing: 3px
		&.active a
			color: $green
.bottom-line
	background: url("../img/header-img.jpg") no-repeat center
	background-size: cover
.bottom-line_bcg
	background: url("../img/bcg2.svg") no-repeat center
	background-size: cover
	height: 488px
.line-description
	li
		font-family: $fontlight
		text-transform: uppercase
		color: $darkgray
.line-description 
	padding-top: 57px
	li:nth-child(1)
		font-size: 48px
		line-height: 50px
		letter-spacing: -2px
	li:nth-child(2)
		font-family: $fontbold
		font-size: 101px
		line-height: 91px
		letter-spacing: -4px
	li:nth-child(3)
		font-family: $fontbold
		font-size: 46px
		line-height: 48px
		letter-spacing: -2px
	li:nth-child(4)
		font-size: 24px
		line-height: 31px
.hr
	width: 174px
	height: 2px
	background-color: #a7d16b
	margin: 13px auto 22px

.descr-text
	width: 70%
	float: left
	text-align: justify
	padding: 0 83px
	p
		color: #8f8f8f
		font-family: $fontbook
		font-size: 15px
		font-weight: 300
.descr-img
	float: left
	padding: 63px 0 0 0
.top
	margin-bottom: -7px
	img
		width: 100%
.bottom
	margin-top: -1px
	img
		width: 100%
.center
	background-color: #a7d16b
	overflow: hidden
	padding: 0px 40px 20px
	>div
		text-align: center
	h2
		margin: 22px 0 51px
.center-item
	float: left
	width: 20%
	padding: 0 25px
	&:first-child
		padding-left: 50px
	p
		text-align: justify
		font-size: 11px
		margin: 25px 0 30px
		line-height: 13px
	h3
		margin-bottom: 30px
.solutions
	background: url(../img/center-bottom.svg) no-repeat bottom center
.section-bottom
	background: $darkgray
	padding: 45px 0 85px
.footer-line
	background: #231f20
.footer-line-row
	margin: 20px 50px
.footer-line-descr
	overflow: hidden
	padding-top: 40px
.footer-line-text
	font-family: $fontbook
	text-align: justify
	padding: 12px 35px
	span
		color: $green
		font-weight: 700

.flex
	display: flex
	flex-direction: row
	justify-content: space-between
.footer-line-nav
	padding: 25px 0 0 25px

	li
		white-space: nowrap
		text-transform: uppercase
		a
			font-size: 12px
			font-family: $fontlight
			color: #fff
			line-height: 30px

.footer-line-contacts
	border-right: solid 2px $green
	border-left: solid 2px $green
	padding: 25px
	>div, a
		font-size: 12px
		font-family: $fontbook
		color: #fff
	
.footer-line-row
	h4
		color: $green
		font-family: $fontbold
		font-size: 12px
		text-transform: uppercase
		margin-bottom: 10px
.footer-about
	background: #fff
	span
		color: #231f20
		font-family: $fontlight
		font-size: 12px
		text-transform: uppercase
		text-align: center
		display: block
		margin: 25px 0 50px
.owl-dots
	text-align: center
	.owl-dot
		width: 10px
		height: 10px
		border-radius: 50%
		margin-right: 5px
		opacity: 0.2
		background-color: $darkgray
		display: inline-block
		&.active
			background-color: $green
			opacity: 1
